<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" th:href="@{/css/4.4.1_dist_css_bootstrap.css}" />
    <script th:src="@{/js/3.4.1_dist_jquery.js}"></script>
    <script th:src="@{/js/4.4.1_dist_js_bootstrap.bundle.js}" ></script>
    <link rel="stylesheet" th:href="@{/css/5.4.1_css_all_fontawesome.css}" />
    <link rel="stylesheet" th:href="@{/css/shards.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <title>Thymeleaf examples</title>
</head>
<body>
<footer th:fragment="footer" class="my-5 text-muted text-center text-small">
    <p class="mb-1">© 2021 Thymeleaf Examples</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="/">Home</a></li>
        <li class="list-inline-item"><a th:href="@{/users/list}" >Users</a></li>
        <li class="list-inline-item"><a th:href="@{/stomp-broadcast}">WebSocket</a></li>
        <li class="list-inline-item" sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
    </ul>
</footer>
</body>
</html>
